body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
	background-image: url("https://i.pinimg.com/originals/12/48/fa/1248fa0b12dba563c33b8a245f11667d.png?nii=t");
    background-size: cover;
    opacity: 0.5;
    z-index: -2;
}
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
.tab-button {
    background-image: url("images/Bubble Picture V2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    border: none;
    background-color: transparent;

    width: 150px;
    height: 100px;

    cursor: pointer;
    font-family: "Daydream", sans-serif;
    font-size: 10px;
    color: rgb(0, 123, 245)
}
.tab-button.active {
    background-image: url("images/Dark Blue Bubble Picture.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    border: none;
    background-color: transparent;

    width: 150px;
    height: 100px;

    cursor: pointer;
    font-family: "Daydream", sans-serif;
    font-size: 10px;
    color: aqua;
}

.tabs {
    justify-content: center;
    display: flex;
    gap: 30px;
}
.gameImage {
    text-align: center;
}

@font-face {
    font-family: "KiwiSoda";
    src: url("./fonts/KiwiSoda.ttf") format("truetype");
}
@font-face {
    font-family: "Daydream";
    src: url("./fonts/Daydream DEMO.otf") format("truetype");
}
#gameDescription {
    text-align: center;
    font-size: 13px;
    font-family: "Daydream", sans-serif;
}
.gamePic {
    display: block;           /* Make image a block element */
    margin-left: auto;        /* Auto margins center horizontally */
    margin-right: auto;
    border-radius: 150px;
    border-width: 10px;
    border-color: rgb(0, 131, 174);
    border-style: solid;
    animation: borderPulse 3s alternate infinite;
    animation-timing-function: ease-in-out;
}
@keyframes borderPulse {
    0% {
        border-color: rgb(42, 202, 255);
    }
    100% {
        border-color: rgb(164, 232, 255);
    }
}
.characterPic {
    display: block;           /* Make image a block element */
    margin-left: auto;        /* Auto margins center horizontally */
    margin-right: auto;
    border-radius: 150px;
    border-width: 10px;
    border-color: rgb(0, 131, 174);
    background-color: rgb(82, 212, 255);
    border-style: solid;
    animation: borderPulseTwo 3s alternate infinite;
    animation-timing-function: ease-in-out;
}
@keyframes borderPulseTwo {
    0% {
        border-color: rgb(42, 202, 255);
    }
    100% {
        border-color: rgb(164, 232, 255);
    }
}
.webText {
    text-align: center;
    font-size: 13px;
    font-family: "Daydream", sans-serif;
    color: rgb(0, 123, 245);
}
.boldWebText {
    text-align: center;
    font-size: 26px;
    font-family: "Daydream", sans-serif;
    color: rgb(0, 123, 245);
}
#bubbleLine {
    height: 50px;
    width: 100%;
    background-image: url("images/Bubble Picture V2.png");
    background-repeat: repeat-x;
    background-size: 50px auto;
}